In [38]:
import pandas as pd
import numpy as np

In [39]:

df = pd.read_csv("welcome_trust.csv", encoding = 'unicode_escape')
df = df.drop_duplicates()
df = df.dropna()

print(df.head())

              PMID/PMCID Publisher                   Journal title  \
1             PMC3679557       ACS               Biomacromolecules
2  23043264  PMC3506128        ACS                      J Med Chem
3    23438330 PMC3646402       ACS                      J Med Chem
4   23438216 PMC3601604        ACS                      J Org Chem
5             PMC3579457       ACS  Journal of Medicinal Chemistry

                                       Article title  \
1  Structural characterization of a Model Gram-ne...
2  Fumaroylamino-4,5-epoxymorphinans and related ...
3  Orvinols with mixed kappa/mu opioid receptor a...
4  Regioselective opening of myo-inositol orthoes...
5  Comparative Structural and Functional Studies ...

  COST (£) charged to Wellcome (inc VAT when charged)
1                                           £2381.04
2                                            £642.56
3                                            £669.64
4                                            £685.88
5                                           £2392.20

In [40]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1928 entries, 1 to 2126
Data columns (total 5 columns):
PMID/PMCID                                             1928 non-null object
Publisher                                              1928 non-null object
Journal title                                          1928 non-null object
Article title                                          1928 non-null object
COST (£) charged to Wellcome (inc VAT when charged)    1928 non-null object
dtypes: object(5)
memory usage: 90.4+ KB
None

In [41]:
lowdf = df['Journal title'].str.capitalize()

print(lowdf.value_counts())

Plos one                                                      188
Journal of biological chemistry                                52
Neuroimage                                                     28
Plos pathogens                                                 24
Plos genetics                                                  23
Nucleic acids research                                         22
Plos neglected tropical diseases                               20
Proceedings of the national academy of sciences                20
Nature communications                                          19
Human molecular genetics                                       17
Bmc public health                                              12
Brain                                                          11
Journal of general virology                                    11
Biochemical journal                                            11
Movement disorders                                             11
Current biology                                                10
Plosone                                                         9
Cell reports                                                    9
Bmj open                                                        9
Developmental cell                                              9
Journal of neuroscience                                         9
Malaria journal                                                 8
Journal of structural biology                                   8
European journal of immunology                                  8
Journal of clinical endocrinology and metabolism                8
Proceedings of the royal society b: biological sciences         8
Neurobiology of aging                                           8
Neuron                                                          8
Plos computational biology                                      8
Journal of physiology                                           7
                                                             ...
Bmc molecular biology                                           1
Organic & biomolecular chemistry                                1
Chemical communication                                          1
American journal of medical genetics                            1
G3: genes, genomes, genetics                                    1
N biotechnol.                                                   1
Seminars in oncology                                            1
International journal of obesity                                1
Hpb                                                             1
Bmc neuroscience                                                1
Bmc pediatrics                                                  1
Experimental hematology                                         1
European radiology                                              1
Protist                                                         1
Biochimica et bioohysica acta - molecular basis of disease      1
Nature neuroscience                                             1
Molecular genetics and metabolism                               1
Genesis: journal of genetics                                    1
Neuroinformatics                                                1
Mammalian genome                                                1
Human mol genetics online                                       1
Economic history review                                         1
Frontiers in cognition                                          1
Journal of chemical information and modeling                    1
Child: care, health development                                 1
International reviews of immunology                             1
Chemistry -  european journal                                   1
Ecology letters                                                 1
Bmc medical genetics                                            1
Annals of science                                               1
Name: Journal title, Length: 850, dtype: int64

In [42]:
#This is saying to filter the dataframe based on the condition of lowdf (that we assigned earlier above) equaling our 
#condition here (which is 'Plos one').

df_one = df[lowdf == 'Plos one']
print(df_one.head())
print(type(df_one))

     PMID/PMCID Publisher Journal title  \
1282    3517619      PLoS      PLoS ONE
1283    3498109      PLoS      PloS One
1284    3515553      PLoS      PLoS ONE
1285    3522679      PLoS      PLoS ONE
1286    3485223      PLoS      PLoS ONE

                                          Article title  \
1282  HCN1 and HCN2 in Rat DRG Neurons: Levels in No...
1283  Fetal alcohol exposure and IQ at age 8: Eviden...
1284  Vitamin B-12 status during pregnancy and child...
1285  Validation of Dual Energy X-ray Absorptiometry...
1286  Associations of different phenotypes of wheezi...

     COST (£) charged to Wellcome (inc VAT when charged)
1282                                           £1001.03
1283                                           £1004.15
1284                                           £1011.45
1285                                           £1011.45
1286                                           £1015.73
<class 'pandas.core.frame.DataFrame'>

### First Article

In [44]:
# First I stripped the non digits out of the column, in this case the £ sign.  Than we had to convert our result from a string
# of series to a string of numbers

num_strip = df_one['COST (£) charged to Wellcome (inc VAT when charged)'].str.strip('£')
conv1 = pd.to_numeric(num_strip)
mean1 = np.mean(conv1)
median1 = np.median(conv1)
std1 = np.std(conv1, ddof=1)

print("The median price paid is: " + "£" +str(median1))
print("The mean of the prices paid is: " + "£" +str(mean1))
print("The standard deviation of the prices paid is: " + "£" +str(std1))

#print(num_strip)

The median price paid is: £899.74
The mean of the prices paid is: £39154.62329787234
The standard deviation of the prices paid is: £189976.68258749828

### Second Article

In [45]:
df_two = df[lowdf == 'Journal of biological chemistry']
#print(df_two.head())

In [46]:
num_striptwo = df_two['COST (£) charged to Wellcome (inc VAT when charged)'].str.strip('£')
conv2 = pd.to_numeric(num_striptwo)
mean2 = np.mean(conv2)
median2 = np.median(conv2)
std2 = np.std(conv2, ddof=1)

print("The median price paid is: " + "£" +str(median2))
print("The mean of the prices paid is: " + "£" +str(mean2))
print("The standard deviation of the prices paid is: " + "£" +str(std2))

The median price paid is: £1328.96
The mean of the prices paid is: £20630.090384615385
The standard deviation of the prices paid is: £138477.6626603459

### Third Article

In [47]:
df_three = df[lowdf == 'Neuroimage']

In [48]:
num_stripthree = df_three['COST (£) charged to Wellcome (inc VAT when charged)'].str.strip('£')
conv3 = pd.to_numeric(num_stripthree)
mean3 = np.mean(conv3)
median3 = np.median(conv3)
std3 = np.std(conv3, ddof=1)

print("The median price paid is: " + "£" +str(median3))
print("The mean of the prices paid is: " + "£" +str(mean3))
print("The standard deviation of the prices paid is: " + "£" +str(std3))

The median price paid is: £2335.04
The mean of the prices paid is: £2230.718571428571
The standard deviation of the prices paid is: £257.8091508693159

### Fourth Article

In [49]:
df_four = df[lowdf == 'Plos pathogens']

In [50]:
# first we stripped the £ sign, than we stripped the $ sign.

num_stripfour = df_four['COST (£) charged to Wellcome (inc VAT when charged)'].str.strip('£')
num_strip4_2 = num_stripfour.str.strip('$')
conv4 = pd.to_numeric(num_strip4_2)
mean4 = np.mean(conv4)
median4 = np.median(conv4)
std4 = np.std(conv4, ddof=1)

print("The median price paid is: " + "£" +str(median4))
print("The mean of the prices paid is: " + "£" +str(mean4))
print("The standard deviation of the prices paid is: " + "£" +str(std4))

The median price paid is: £1600.52
The mean of the prices paid is: £84775.04458333335
The standard deviation of the prices paid is: £281885.54408993816

### Fifth Article

In [51]:
df_five = df[lowdf == 'Plos genetics']

In [52]:
num_stripfive = df_five['COST (£) charged to Wellcome (inc VAT when charged)'].str.strip('£')
conv5 = pd.to_numeric(num_stripfive)
mean5 = np.mean(conv5)
median5 = np.median(conv5)
std5 = np.std(conv5, ddof=1)

print("The median price paid is: " + "£" +str(median5))
print("The mean of the prices paid is: " + "£" +str(mean5))
print("The standard deviation of the prices paid is: " + "£" +str(std5))

The median price paid is: £1715.06
The mean of the prices paid is: £45049.888695652175
The standard deviation of the prices paid is: £208171.64716143077