In [35]:
import pandas as pd
import numpy as np

In [36]:

df = pd.read_csv("welcome_trust.csv", encoding = 'unicode_escape')
df = df.drop_duplicates()
df = df.dropna()

print(df.head())

              PMID/PMCID Publisher                   Journal title  \
1             PMC3679557       ACS               Biomacromolecules
2  23043264  PMC3506128        ACS                      J Med Chem
3    23438330 PMC3646402       ACS                      J Med Chem
4   23438216 PMC3601604        ACS                      J Org Chem
5             PMC3579457       ACS  Journal of Medicinal Chemistry

                                       Article title  \
1  Structural characterization of a Model Gram-ne...
2  Fumaroylamino-4,5-epoxymorphinans and related ...
3  Orvinols with mixed kappa/mu opioid receptor a...
4  Regioselective opening of myo-inositol orthoes...
5  Comparative Structural and Functional Studies ...

  COST (£) charged to Wellcome (inc VAT when charged)
1                                           £2381.04
2                                            £642.56
3                                            £669.64
4                                            £685.88
5                                           £2392.20

In [37]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1928 entries, 1 to 2126
Data columns (total 5 columns):
PMID/PMCID                                             1928 non-null object
Publisher                                              1928 non-null object
Journal title                                          1928 non-null object
Article title                                          1928 non-null object
COST (£) charged to Wellcome (inc VAT when charged)    1928 non-null object
dtypes: object(5)
memory usage: 90.4+ KB
None

In [38]:
lowdf = df['Journal title'].str.capitalize()

print(lowdf.value_counts())

Plos one                                                    188
Journal of biological chemistry                              52
Neuroimage                                                   28
Plos pathogens                                               24
Plos genetics                                                23
Nucleic acids research                                       22
Plos neglected tropical diseases                             20
Proceedings of the national academy of sciences              20
Nature communications                                        19
Human molecular genetics                                     17
Bmc public health                                            12
Journal of general virology                                  11
Biochemical journal                                          11
Movement disorders                                           11
Brain                                                        11
Current biology                                              10
Bmj open                                                      9
Journal of neuroscience                                       9
Developmental cell                                            9
Cell reports                                                  9
Plosone                                                       9
Neuron                                                        8
Proceedings of the royal society b: biological sciences       8
Plos computational biology                                    8
Journal of structural biology                                 8
Journal of clinical endocrinology and metabolism              8
Malaria journal                                               8
European journal of immunology                                8
Neurobiology of aging                                         8
The journal of biological chemistry                           7
                                                           ...
Development                                                   1
Bioscience reports                                            1
European journal of clinical pharmacology                     1
Tropical animal health & production                           1
J cell sci.                                                   1
Qualitative research                                          1
Ophthalmology                                                 1
Maternal and child nutrition                                  1
Journal of neurology, neurosurgery & psychiatry               1
Reproductive medicine and biology                             1
Inflammation research                                         1
Current opinions in neurobiology                              1
Int j epidemiol                                               1
The vet. journal                                              1
British journal for the history of science                    1
The international journal of biochemistry & cell biology      1
Jerph                                                         1
Veterinary record                                             1
Annals of human genetics                                      1
Consciousness & cognition                                     1
N biotechnol.                                                 1
Bmc molecular biology                                         1
Ethn health                                                   1
Bmc medical ethics                                            1
Protemics                                                     1
Inyernational journal of epidemiology                         1
Pyschological medicine                                        1
Zoonoses and public health                                    1
Journal of small animal practice                              1
Health and place                                              1
Name: Journal title, Length: 850, dtype: int64

In [39]:
#This is saying to filter the dataframe based on the condition of lowdf (that we assigned earlier above) equaling our 
#condition here (which is 'Plos one').

df_one = df[lowdf == 'Plos one']
print(df_one.head())
print(type(df_one))

     PMID/PMCID Publisher Journal title  \
1282    3517619      PLoS      PLoS ONE
1283    3498109      PLoS      PloS One
1284    3515553      PLoS      PLoS ONE
1285    3522679      PLoS      PLoS ONE
1286    3485223      PLoS      PLoS ONE

                                          Article title  \
1282  HCN1 and HCN2 in Rat DRG Neurons: Levels in No...
1283  Fetal alcohol exposure and IQ at age 8: Eviden...
1284  Vitamin B-12 status during pregnancy and child...
1285  Validation of Dual Energy X-ray Absorptiometry...
1286  Associations of different phenotypes of wheezi...

     COST (£) charged to Wellcome (inc VAT when charged)
1282                                           £1001.03
1283                                           £1004.15
1284                                           £1011.45
1285                                           £1011.45
1286                                           £1015.73
<class 'pandas.core.frame.DataFrame'>

### First Article

In [40]:
# First I stripped the non digits out of the column, in this case the £ sign.  Than we had to convert our result from a series
# of strings to a series of numbers

num_strip = df_one['COST (£) charged to Wellcome (inc VAT when charged)'].str.strip('£')
num_drop = num_strip.drop([1560, 1561, 1562, 1563, 1564, 1565, 1566], axis=0)
conv1 = pd.to_numeric(num_drop)
mean1 = np.mean(conv1)
median1 = np.median(conv1)
std1 = np.std(conv1, ddof=1)

print("The median price paid is: " + "£" +str(median1))
print("The mean of the prices paid is: " + "£" +str(mean1))
print("The standard deviation of the prices paid is: " + "£" +str(std1))

#print(num_drop)

The median price paid is: £897.19
The mean of the prices paid is: £1994.8960220994468
The standard deviation of the prices paid is: £14251.071638101252

### Second Article

In [41]:
df_two = df[lowdf == 'Journal of biological chemistry']
#print(df_two.head())

In [42]:
num_strip2 = df_two['COST (£) charged to Wellcome (inc VAT when charged)'].str.strip('£')
num_drop2 = num_strip2.drop([149], axis=0)

conv2 = pd.to_numeric(num_drop2)
mean2 = np.mean(conv2)
median2 = np.median(conv2)
std2 = np.std(conv2, ddof=1)

print("The median price paid is: " + "£" +str(median2))
print("The mean of the prices paid is: " + "£" +str(mean2))
print("The standard deviation of the prices paid is: " + "£" +str(std2))

#print(num_drop2)

The median price paid is: £1314.53
The mean of the prices paid is: £1426.7784313725488
The standard deviation of the prices paid is: £415.40437218388803

### Third Article

In [43]:
df_three = df[lowdf == 'Neuroimage']

In [44]:
num_strip3 = df_three['COST (£) charged to Wellcome (inc VAT when charged)'].str.strip('£')

conv3 = pd.to_numeric(num_strip3)
mean3 = np.mean(conv3)
median3 = np.median(conv3)
std3 = np.std(conv3, ddof=1)

print("The median price paid is: " + "£" +str(median3))
print("The mean of the prices paid is: " + "£" +str(mean3))
print("The standard deviation of the prices paid is: " + "£" +str(std3))

#print(num_strip3)

The median price paid is: £2335.04
The mean of the prices paid is: £2230.718571428571
The standard deviation of the prices paid is: £257.8091508693159

### Fourth Article

In [45]:
df_four = df[lowdf == 'Plos pathogens']

In [46]:
# first we stripped the £ sign, than we stripped the $ sign, than converted the series of strings to series of numbers.

num_strip4 = df_four['COST (£) charged to Wellcome (inc VAT when charged)'].str.strip('£')
num_strip4_2 = num_strip4.str.strip('$')
num_drop4 = num_strip4_2.drop([1597, 1598], axis=0)

conv4 = pd.to_numeric(num_drop4)
mean4 = np.mean(conv4)
median4 = np.median(conv4)
std4 = np.std(conv4, ddof=1)

print("The median price paid is: " + "£" +str(median4))
print("The mean of the prices paid is: " + "£" +str(mean4))
print("The standard deviation of the prices paid is: " + "£" +str(std4))

#print(num_drop4)

The median price paid is: £1600.25
The mean of the prices paid is: £1572.8668181818182
The standard deviation of the prices paid is: £161.78089066583865

### Fifth Article

In [47]:
df_five = df[lowdf == 'Plos genetics']

In [48]:
num_strip5 = df_five['COST (£) charged to Wellcome (inc VAT when charged)'].str.strip('£')
num_drop5 = num_strip5.drop([1386], axis=0)

conv5 = pd.to_numeric(num_drop5)
mean5 = np.mean(conv5)
median5 = np.median(conv5)
std5 = np.std(conv5, ddof=1)

print("The median price paid is: " + "£" +str(median5))
print("The mean of the prices paid is: " + "£" +str(mean5))
print("The standard deviation of the prices paid is: " + "£" +str(std5))

#print(num_drop5)

The median price paid is: £1712.73
The mean of the prices paid is: £1643.1109090909092
The standard deviation of the prices paid is: £153.36682533527224